<!-- <div class="jumbotron">
  <h1>'Allo, 'Allo!</h1>
  <p class="lead">
    <img class="home-image" src="images/home.jpg" alt="WOW"><br>
    
  </p>
  <p><a class="btn btn-lg btn-success" ng-href="#/">Splendid!<span class="glyphicon glyphicon-ok"></span></a></p>
</div> -->
<div class="hero-unit">
  <h1>Hello, world!</h1>
  <h2>This is a simple hero unit, a simple jumbotron-style component for calling extra 7 attention to featured content or information</h2>
  <p><a class="btn btn-primary btn-large">Start</a></p>
</div>
<div class="row marketing">
  <h4>HTML5 Boilerplate</h4>
  <p>
    HTML5 Boilerplate is a professional front-end template for building fast, robust, and adaptable web apps or sites.
  </p>

  <h4>Angular</h4>
  <p>
    AngularJS is a toolset for building the framework most suited to your application development.
  </p>

  <h4>Karma</h4>
  <p>Spectacular Test Runner for JavaScript.</p>
</div>
